/*div置中，固定寬996*/
div{
    margin:0px ;
    width: 1000px;
    
    
}

/*介紹區塊*/
.activitytitle{
    width: 1700px;
}
.activitytitle img{
    display:block;
    width: 200px;
    padding-left: 20px;
}
.activityfont{
    width: 1700px;
    height: 100px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
    padding-top: 50px;
    padding-bottom: 110px;
    background-color: lightyellow;
    position: relative;
    margin-top: 300px;
}
.activityfont1{
    width: 1700px;
    height: 100px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
    padding-top: 50px;
    padding-bottom: 110px;
    background-color: lightyellow;
    position: relative;
    margin-top: 100px;
    
}

.gg{
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    left: 150px;
    top: 20px;
}
.footer-ig{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    top: 90px;
    left: 150px;
}
.footer-fb{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 160px;
    left: 150px;
    bottom: 30px;
}
.textgg{
    float: left;
    position: absolute;
    left: 220px;
    top: 35px;
    bottom: 30px;
}

.textig{
    float: left;
    position: absolute;
    left: 220px;
    top: 105px;
    bottom: 30px;
}
.textfb{
    float: left;
    position: absolute;
    left: 220px;
    top: 175px;
    bottom: 30px;
}
.aa{
    width: 2000px;
    left:100px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 50px;
    
    padding-bottom: 130px;
    position: relative;
}
.aa img{
    width: 400px;
    height: 250px;
    float:left;
    margin-top: 50px;
    
}
h2{
    margin-left: 2em;
    color: burlywood;
}
.table{
    margin-top: 50px;
    width: 133px; 
    color: black;
    background-color: rgb(240, 190, 116);
    letter-spacing:1.5px;
    line-height:2;
    width:95%;
    position: relative;
    left: 100px;
}
.tt{
    position: relative;
    left: 400px;
}

.tr,td{
    text-align: center;
}
.bb{
    width: 2000px;
    left:100px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: lightyellow;
    position: relative;
}

.open{
    width: 1200px;
    height: 500px;
    float: left;
    position: absolute;
    left: 500px;
    
}
.ss{
    text-size-adjust: 40px;
}

.cc{
    width: 2000px;
    left:100px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 28px;
    
    position: relative;
}
.floor{
    width: 2000px;
    height: 2000px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
    padding-top: 50px;
    padding-bottom: 110px;
    position: relative;
}
.B1{
    width: 1200px;
    height: 220px;
    float: left;
    position: absolute;
    left: 500px;
    top: 90px;
    padding: 30px;
    color: peru;
}
.B1img{
    width: 275px;
    height: 300px;
    position: absolute;
    left: 80px;
    top: 100px;
    bottom: 30px;
    transition-property: width, height;
		transition-duration: 1s;

}
.B1img:hover{
    width: 16%;
    height: 16%;
}
.F1{
    width: 1200px;
    height: 220px;
    float: left;
    position: absolute;
    left: 500px;
    top: 490px;
    bottom: 30px;
    background-color: lightyellow;
    padding: 30px;
    color: peru;
    

}
.F1img{
    width: 275px;
    height: 300px;
    float: left;
    position: absolute;
    left: 80px;
    top: 500px;
    transition-property: width, height;
		transition-duration: 1s;
}
.F1img:hover{
    width: 16%;
    height: 16%;
}


.F2{
    width: 1200px;
    height: 220px;
    float: left;
    position: absolute;
    left: 500px;
    top: 890px;
    background-color: white;
    padding: 30px;
    color: peru;

}
.F2img{
    width: 275px;
    height: 300px;
    float: left;
    position: absolute;
    top: 900px;
    left: 80px;
    transition-property: width, height;
    transition-duration: 1s;


}
.F2img:hover{
    width: 16%;
    height: 16%;
}
.F3{
    width: 1200px;
    height: 220px;
    float: left;
    position: absolute;
    left: 500px;
    top: 1290px;
    background-color: lightyellow;
    padding: 30px;
    color:peru
}
.F3img{
    width: 275px;
    height: 300px;
    float: left;
    position: absolute;
    left: 80px;
    top: 1300px;
    transition-property: width, height;
    transition-duration: 1s;
}

.F3img:hover{
    width: 16%;
    height: 16%;
}

.F4{
    width: 1200px;
    height: 220px;
    float: left;
    position: absolute;
    left: 500px;
    top: 1690px;
    background-color: white;
    padding: 30px;
    color:peru

}
.F4img{
    width: 400px;
    height: 250px;
    float: left;
    position: absolute;
    left: 80px;
    top: 1700px;

}
.F5{
    width: 1200px;
    height: 220px;
    float: left;
    position: absolute;
    left: 500px;
    top: 2090px;
    background-color: lightyellow;
    padding: 30px;
    color:peru;
}
.F5img{
    width: 400px;
    height: 250px;
    float: left;
    position: absolute;
    left: 80px;
    top: 2100px;

}
.contact{
    width: 1700px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
    margin-top: 100px;
    padding-bottom: 20px;
    background-color: lightyellow;
    position: relative;
}
.contacttxt{
    width: 1700px;
    height: 500px;
    float: left;
    position: absolute;
    left: 50px;
    
    
}
.list2{
    background-color:lightyellow;
    color:peru;
    position: relative;
    left: 200px;
    top: 20px;
    margin: 50px;
    
}
.about{
    width: 1600px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
    position: relative;
}

.ps{
    font-size: 30px;
    
}
h1{
    color:peru;
    position: relative;
    

}


.from{
    color:tan;
    margin-top: 50px;
    position: relative;
    left: 100px;
    top: 50px;
}
.from2{
    color:tan;
    margin-top: 50px;
    position: relative;
    left: 500px;
    top: 50px;

}
.list{
    color:tan;
}
table{
    color:tan;
}
menu:link{color: saddlebrown;}
    


/*篩選器整體*/
.activityblock{
    width: 996px;
    height: 830px;
    font-family:Microsoft JhengHei;
    
}

.chooseblock{
    width: 173px;
    height: 692px;
    float: left;
    border:2px dashed rgba(151, 75, 3, 0.699);
    margin-left: 15px;
    padding-top: 10px;
    border-right: none;
    
}
.chooseblock ul{
    width: 170px;
    padding-left: 8px;
    line-height: 32px;
    letter-spacing: 1px;
    margin: 0px;
}
.chooseblock li{
    padding-left: 10px;
    text-decoration: underline;
}
.actbox{
    width: 770px;
    height: 700px;
    float: right;
    margin-right: 20px;
    border: 3px solid rgba(151, 75, 3, 0.699);
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
}
.actbox th{
    font-size: larger;
    padding-top: 5px;
    padding-bottom: 5px;
}
.actbox td{
    text-align: left;
}


