.b{
    margin: 0px;
}

.h2 p{
    text-align: left;
}
.background{
    
    width: 1600px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    letter-spacing: 1px;
    float: left;
    position: relative;
    
    
}
/*logo div設定*/
.logo{
    width: 1600px;
    height: 100px;
    background-color: lightyellow;
}
.logo img{
    float: left;
    width: 280px;
    margin: 10px;
    padding-left: 20px;
    padding-bottom: 50px;
    position: absolute;
    left: 80px;
    top: 30px;
}


/*menu div設定*/
.menu {

    width:1600px;
    
    background-color: lightyellow;
    text-align: center;
    display: inline;
    margin-bottom: 100px;
    padding-left: 80px;
}

.t1{
    margin-left: 20px;
    position: absolute;
    letter-spacing: 2px;
    top: 15px;
    left: 500px;
}
.t2{
    margin-left: 20px;
    position: absolute;
    letter-spacing: 2px;
    left: 700px;
    top: 15px;
}
.t3{
    margin-left: 20px;
    position: absolute;
    letter-spacing: 2px;
    left: 900px;
    top: 15px;
}
.t4{
    margin-left: 20px;
    position: absolute;
    letter-spacing: 2px;
    left: 1100px;
    top: 15px;
}
.t5{
    margin-left: 20px;
    position: absolute;
    letter-spacing: 2px;
    left:1300px;
    top: 15px;
}
.vid{
    width: 1600px;
    
    position: relative;
    left: 100px;
    
}
.vd{
    width: 400px;
    height: 250px;
    position: relative;
    left: 300px;
}


/*底部*/
